<%= render 'list', list: @list %>

<h4>Tasks:</h4>
<% @list.items.each do |item| %>
    <%= render partial: "items/item", locals: {item: item} %>
    <% end %>
    
<%= link_to "Add Tasks", new_list_item_path(@list, @item) %>